@page
@model DSRNetSchool.API.Pages.IndexModel
@{
    ViewData["Title"] = "DSRNetSchool API";
}

<div class="stamp"></div>

<div class="text-left m-3">
    <h1>DSRNetSchool</h1>
    <div class="mt-3">
        <a class="d-block mb-2" href="/health">Check API health</a>
    </div>
</div>